.checkout_total {

    .total_box {
        position: sticky;
        top: 20px;

    }
}


.address-form {
    display: grid;
    grid-gap: 1rem;

    @media screen and (max-width:768px) {
        width: 100% !important;
    }

    .form-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        @media screen and (max-width:600px) {
            grid-template-columns: 1fr !important;
        }
    }

    .form-group {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .full-width {
        grid-column: 1 / -1;
    }

    input,
    select,
    textarea {
        padding: 8px;
        border: none;
        border-radius: none !important;
        font-size: 15px;
    }

    p {
        margin-bottom: 5px;
        font-size: 15px;
        color: grey;
    }

    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
    }


    textarea {
        height: 100px;
    }

}

@media screen and (max-width:768px) {
    .checkout_delivery {
        text-align: start !important;
    }

    .couponform{
        display: block;

        input, button{
            width: 100% !important;
        }
    }
}