@import '../variables';

.form-group {
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: 500;
    }

    input {
        width: 100%;
        padding: 7px 5px;
        border: 1px solid $border-color;

        &:focus-visible {
            outline: $tertiary-color auto 1px !important;
        }
    }

    .password-input {
        position: relative;

        div {
            position: absolute;
            right: 10px;
            top: 50%;
            cursor: pointer;
            transform: translateY(-50%);
        }
    }

}