@import '../variables';

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.categorymenu {
    @media screen and (max-width: 600px) {
        margin-left: 0 !important;
    }
}

#basic-nav-dropdown {
    color: black !important;

    &:hover {
        color: $primary-color !important;
    }

    @media screen and (max-width: 600px) {
        padding: 15px !important;
        margin-left: 0 !important;
        width: 100% !important;
        font-weight: 500 !important;
        text-align: left !important;
        font-size: 15px !important;
        border-bottom: 1px solid $border-color3 !important;
    }


}

.search-result {
    position: absolute;
    background-color: white;
    border-radius: 0 0 5px 5px;

    @media screen and (max-width:768px) {
        position: static !important;
        background-color: $body-color !important;


        .search-item {
            padding: 15px !important;
            border-bottom: 1px solid $border-color3 ;
            background-color: $body-color !important;

        }
    }
}

.search-item {
    padding: 10px 20px;
    position: relative;



    a:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.active-item {
    background-color: lighten($secondary-color, 15%);
}

.categorymenu.dropdown-menu {
    padding: 0 !important;

    a {
        font-weight: 500 !important;
    }


    .subcategorymenu {
        display: none;
        position: absolute;
        left: 100%;
        background-color: white;
        border-radius: 3px;
        border: 1px solid $border-color3;
        top: 0;
        width: 100%;

        @media screen and (max-width:600px) {
            position: static !important;
            border: none !important;

            background-color: $body-color !important;

            a{
                width: 100% !important;
                padding: 15px 15px 0px 15px !important;

            }

        }
    }

    .catmenu {
        position: relative;

        @media screen and (max-width:600px) {
            border: none !important;
            background-color: $body-color !important;
            padding: 15px !important;
            border-bottom: 1px solid $border-color3 !important;
            font-weight: 500 !important;
            font-size: 15px !important;
            color: black !important;

            &::after {
                display: inline-block;

                margin-left: .255em;
                vertical-align: .255em;
                position: absolute;
                right: 20px;
                top: 20px;
                content: "";
                border-top: .3em solid;
                border-right: .3em solid transparent;
                border-bottom: 0;
                border-left: .3em solid transparent;
            }

            & > a {
                padding: 0 !important;
                width: 90% !important;
            }

        }

    }

    .catmenu:hover .subcategorymenu {
        display: block;
    }


    a:hover {
        background-color: lighten($secondary-color, 15%);
    }

    @media screen and (max-width:600px) {
        border: none !important;
    }
}



.search-form {
    position: relative;

    @media screen and (max-width:768px) {
        padding: 0 10px !important;
        border-bottom: 1px solid $border-color3;
    }

    input {
        text-indent: 8px;

        @media screen and (max-width:768px) {
            width: 100%;
            padding: 20px 0;
            margin-bottom: 20px !important;
        }

        &::placeholder {
            color: white;
        }

        &:focus {

            outline: none;
        }
    }

    svg {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        @media screen and (max-width:768px) {
            top: calc(50% - 8px);
            right: 20px;
        }
    }
}




.no-of-items {
    position: relative;

    sup {
        position: absolute;
        top: -5px;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        right: -12px;
    }
}

// Responsive header

.offcanvas {
    background-color: $body-color;

    @media screen and (max-width:768px) {
        width: 85% !important;

        .offcanvas-body {
            padding: 0;
        }

        ul {
            display: block !important;
            margin-left: 0 !important;

            li {
                position: relative;
                padding: 15px !important;
                border-bottom: 1px solid $border-color3 ;
            }

            &:nth-child(2) {
                a::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                }

            }

            &:last-child {
                li {

                    a {
                        position: static;
                    }

                    a::after {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        padding-left: 40px;
                        padding-top: 23px;
                        font-size: 15px;
                        font-weight: 500;
                    }



                    &:nth-child(2) {
                        a::after {
                            content: "Wishlist";
                        }
                    }

                    &:last-child {
                        a::after {
                            content: "Cart";
                        }
                    }
                }
            }

            a {
                padding: 0 !important;
                font-size: 15px;
                font-weight: 500;

                sup {
                    display: none;
                }
            }

        }
    }

}

button.navbar-toggler {
    border: none;
    box-shadow: none !important;
    outline: none !important;

    span {
        background-image: url('/images/menu.svg');
    }
}