
@import './sass/variables';
@import './sass/mixins';
@import './sass/loops';
@import './sass/buttons';
@import './sass/custom';


html,
body {
  background-color: $body-color;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Algerian';
  src: url('./fonts/Algerian\ Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-2{
  font-family: 'Algerian', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.cartsidebar_btn{
  position: absolute;
  bottom: 15px;
  width: 100%;

  a:hover{
    background-color: $secondary-color !important;
  }
}

.cartsidebar{
  height: 90% !important;
}