@import "./mixins";
// color

$primary-color:#624632;
$secondary-color:#DEC9AC;
$tertiary-color:#785A40;
$body-color:#F1E8DB;
$border-color:#E3E6ED;
$border-color2:#CEC6BF;
$border-color3:rgba(98, 70, 50, 0.368627451);
$grey:#ADB6B6;
$grey2:#525b75;
$grey3:#EFEDEB;
$white:#fff;
$gold:#F89F20;
$transparent:transparent;
$black:rgb(0,0,0);







